/*----------------------- < header > ---------------------*/
header {text-align: center; display: block; box-sizing: content-box;height: 80px;}
header h1 {position: absolute; left: 50px; top: 0px; padding: 14px 14px 14px 0;}
header h1 a{display:block; width: 114px; height: 48px; color: transparent; background: url("img/sp_com.png") no-repeat -300px 0;} /*trasnparent 투명*/  
header .spot {position: absolute; right: 50px; top: 0px;}
header .lnb lu{padding: 22px 0 0 0; display: block;}
header .lnb li{position: relative;padding: 0 35px 0 35px; display: inline-block; color:#000;} 
header .lnb li a{position: relative; display: block; height: 36px; line-height: 36px; font-size: 18px;}
header .lnb li a:hover {color: #2d5b79; font-weight: bold; border-bottom: 1px solid #2d5b79;} /* 여기서 리베하얀님은 hover밑줄을 박스를 따로 만들어서 했는데 왜지? border-bottom은 호환성이 안좋나???????????????? 구지 <span> 까지 해서 해야했나??? */
header .spot li{position: relative; padding: 0 0 0 20px; display: inline-block;color:#000;}
header .spot li :after {content:""; position: absolute; left: 10px; top: 50%; width: 1px; height: 7px; background: #ccc; transform: translateY(-50%)} /*목록 사이 막대기*/
header .spot li:first-child :after {display: none;}
header .spot li a{display: block; height: 80px; line-height: 80px; font-size: 14px;}
header .spot li a:hover {color: #000; text-decoration-line: underline;}/*underline이 익스플로어에서는 작동안됨!!왜!!!!!!!!!!!!!!!!!!!!!*/

/*ㅁㅁㅁㅁㅁㅁㅁㅁㅁ이미지 잘라서 넣는거 아직 안 익숙하다ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ*/
/*------------------------ < visual > ---------------------*/
/* 왜visual을 class 로뒀을까?????????????????????*/
.visual {position: relative; padding: 0 50px;}
.visual .prev,
.visual .next {display: block; position: absolute; top: 50%; width: 25px; height: 47px; transform: translateY(-50%); background: url("img/sp_com.png") no-repeat; color: transparent;}
.visual .prev {left:82px;background-position: -128px -61px}
.visual .next {right:82px;background-position: -159px -61px}

.visual .control {position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center;} 
.visual .control > div {display: inline-block; position: relative; padding: 0 45px 0 0;}
.visual .control > div > div {position: absolute; right: 0;}
.visual .control > div > div a{overflow: hidden; display: inline-block; margin: 0 0 0 7px; width: 8px; height: 9px; background: url("img/sp_com.png") no-repeat; opacity: 0.5;}
.visual .control > div > div a.on {opacity: 1;}
.visual .control > div > div a.play {background-position: -108px -72px;}
.visual .control > div > div a.pause {background-position: -108px -60px;}
.visual .control ul,
.visual .control li {display: inline-block;padding: 4px}
.visual .control li.on a {background: #fff;}
.visual .control li a {display: block; width: 50px; height: 3px; background:rgba(225,225,225,0.5); border:none;} 
/*rgba 투명하 border 테두리*/
.visual .control a {color: transparent;}
.visual .con .slide {background: url("img/bg_main00.jpg") no-repeat center; height: 690px; background-size: cover;}



















