body {min-width: 1280px;}

/*----------------------- < header > ---------------------*/

header {position: relative; text-align: center; display: block; box-sizing: content-box; height: 80px;}
header h1 {position: absolute; left: 50px; top: 0px; padding: 14px 14px 14px 0;}
header h1 a{display:block; width: 114px; height: 48px; color: transparent; background: url("img/sp_com.png") no-repeat -300px 0;} /*trasnparent 투명*/  
header .lnb lu{padding: 22px 0 0 0; display: block;}
header .lnb li{position: relative;padding: 0 35px 0 35px; display: inline-block; color:#000;} 
header .lnb li a{position: relative; display: block; height: 36px; line-height: 36px; font-size: 18px;}
header .lnb li a:hover {color: #2d5b79; font-weight: bold; border-bottom: 1px solid #2d5b79;} /* 여기서 영상에서는 hover밑줄을 박스를 따로 만들어서 했는데 왜지? border-bottom은 호환성이 안좋나? */ 
header .spot {position: absolute; right: 50px; top: 0px;}
header .spot li{position: relative; padding: 0 0 0 20px; display: inline-block;color:#000;}
header .spot li :after {content:""; position: absolute; left: 10px; top: 50%; width: 1px; height: 7px; background: #ccc; transform: translateY(-50%)}  /* 목록 사이 막대기 */ 
header .spot li:first-child :after {display: none;}
header .spot li a{display: block; height: 80px; line-height: 80px; font-size: 14px;}
header .spot li a:hover {color: #000; text-decoration-line: underline;}/*underline이 익스플로어에서는 작동안됨!다른 태그?찾아야하나?*/

/*------------------------ < visual > ---------------------*/

.visual {position: relative; padding: 0 50px;}
.visual .prev,
.visual .next {display: block; position: absolute; top: 50%; width: 25px; height: 47px; transform: translateY(-50%); background: url("img/sp_com.png") no-repeat; color: transparent;}
.visual .prev {left:82px;background-position: -128px -61px}
.visual .next {right:82px;background-position: -159px -61px}

.visual .control {position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center;} 
.visual .control > div {display: inline-block; position: relative; padding: 0 45px 0 0;}
.visual .control > div > div {position: absolute; right: 0;}
.visual .control > div > div a{overflow: hidden; display: inline-block; margin: 0 0 0 7px; width: 8px; height: 9px; background: url("img/sp_com.png") no-repeat; opacity: 0.5;} /*opacity 요소를 투명하게*/
.visual .control > div > div a.on {opacity: 1;}
.visual .control > div > div a.play {background-position: -108px -72px;}
.visual .control > div > div a.pause {background-position: -108px -60px;}
.visual .control ul,
.visual .control li {display: inline-block;padding: 4px}
.visual .control li.on a {background: #fff;}
.visual .control li a {display: block; width: 50px; height: 3px; background:rgba(225,225,225,0.5); border:none;} 
/*rgba 투명하 border 테두리*/
.visual .control a {color: transparent;}
.visual .txt {position: absolute; text-align: center; margin-top: 330px; left: 50%; transform: translate(-50%, -50%); font-size: 26px; color: #fff}
.visual .txt spen {font-size: 45px;}
.visual .con {background: url("img/bg_main00.jpg") no-repeat center; height: 690px; background-size: cover;}

/*--------------------- < icons > -------------------*/
.icons ul {padding: 0 50px; margin: 0 88px; text-align: center; height: 180px}
.icons li {position: relative; display: inline-block; top:40px; width: 175px}
.icons a {color : #001829; font-size: 16px; }
.icons a:hover { color: #2d5b79; font-weight: bold; }
.icons a:before {content: ""; display: block; width: 70px; height: 64px; background: url(img/sp_com.png); margin: 0 auto 14px auto;}
.icons ul div {position: relative; display: inline-block}
.icons .icon1 li:nth-child(1) a:before{ background-position:-0px  -113px}
.icons .icon1 li:nth-child(2) a:before{ background-position:-71px  -113px}
.icons .icon1 li:nth-child(3) a:before{ background-position:-144px  -113px}
.icons .icon1 li:nth-child(1) a:hover:before{ background-position:-0px  -179px}
.icons .icon1 li:nth-child(2) a:hover:before{ background-position:-71px  -179px}
.icons .icon1 li:nth-child(3) a:hover:before{ background-position:-144px  -179px}
.icons .icon2 li:nth-child(1) a:before{ background-position:-216px  -113px}
.icons .icon2 li:nth-child(2) a:before{ background-position:-288px  -113px}
.icons .icon2 li:nth-child(3) a:before{ background-position:-361px  -113px}
.icons .icon2 li:nth-child(1) a:hover:before{ background-position:-216px  -179px}
.icons .icon2 li:nth-child(2) a:hover:before{ background-position:-288px  -179px}
.icons .icon2 li:nth-child(3) a:hover:before{ background-position:-361px  -179px}

/*------------------- < blog > --------------------------*/

.blog {position: relative; background-color: #f2f0ed; height: 638px; padding: 40px 0 90px 0; }
.blog h2 {text-align: center; font-size: 30px; padding-bottom: 40px;}

.blog .prev ,
.blog .next {display: inline-block; position: absolute; top: 50%; width: 30px; height: 48px; transform: translateY(-50%); background: url("img/sp_com.png") no-repeat; color: transparent;}
.blog .prev {left: 200px; background-position: -321px -543px;}
.blog .next {right:200px; background-position: -351px -543px;}

.blog .control {text-align: center;}
.blog .control > lu {transform: translateX(-50%);position: absolute; bottom: 56px;width: auto; height: 24px;}
.blog .control > lu > li {position: relative; display: inline-block; width:50px; height: 3px; background-color: #2d5b79; color: #000; overflow: hidden; opacity: 0.2; margin: 4px;}
.blog .control .on {opacity: 1;}

.blog .bx-view {position: relative; display: flex; padding: 0 50px; width: 1180px; justify-content: space-between; left: 50%; transform: translateX(-50%); }
.blog .bx-view a{display: inline-block; background-color: #FFFFFF; height: 553px; width: 280px; text-align: left;}
.blog .bx-view .txt{padding: 26px 28px;}
.blog .bx-view .txt:hover {color: #000; text-decoration-line: underline;}
.blog .bx-view .txt .tit {font-size: 18px; font-weight: bold;height: 54px; margin-bottom: 10px;}
.blog .bx-view .txt .cont-t,
.blog .bx-view .txt .cont {font-size: 16px; margin-bottom: 6px; padding-left: 67px;}
.blog .bx-view .txt span{position: absolute; display: inline; font-size: 14px; font-weight: bold}

/*------------------------ < youtube > --------------------*/

.youtube {position: relative; display: block; padding: 40px 0 100px 0; height: 320px; text-align: center;}

.youtube .prev ,
.youtube .next {display: inline-block; position: absolute; top: 50%; width: 30px; height: 48px; transform: translateY(-50%); background: url("img/sp_com.png") no-repeat; color: transparent;}
.youtube .prev {left: 200px; background-position: -321px -543px;}
.youtube .next {right:200px; background-position: -351px -543px;}

.youtube .control > lu {transform: translateX(-50%);position: absolute; bottom: 56px;width: auto; height: 24px;}
.youtube .control > lu > li {position: relative; display: inline-block; width:50px; height: 3px; background-color: #2d5b79; color: #000; overflow: hidden; opacity: 0.2; margin: 4px;}
.youtube .control .on {opacity: 1;}

.youtube  h2 {font-size: 30px; text-align: center; top: 50px}
.youtube .layout {position: absolute; display: inline-block; width:1180px; padding: 0 50px; top: 50px}

.youtube .layout  {position: relative; display: flex; justify-content: space-between; left: 50%; transform: translateX(-50%);height: 275px;}
.youtube div a img{height: 160px; width: 280px;}
.youtube div a p{margin-top:16px; padding: 0px 15px ;font-size: 18px; font-weight: bold;}

/*------------------------ < notice > --------------------*/

.notice {position: relative; display: block; height: 280px ; background-color:beige; padding: 55px 0;}
.notice ul{padding: 0 50px; margin: 0 auto;height:280px; width: 1180px;}
.notice > ul > li{position:relative; display: inline-block; background-color: #fff; height: 280px; width: 280px; margin-right: 20px}
.notice > ul > li:nth-child(4){margin: 0px;}


/*------------------------< btm >--------------------*/

.btm .footer-top {display: block; height: 70px;background-color: #383f43}

.btm .footer {display: block;padding: 40px auto ; height: 128.667px;background-color: #4c5459}



